.btn {
    padding: 0.45rem 1em;
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    font-family: var(--font-mulish);
    color: var(--text-color);
  }
  
  

  .btn_danger {
    border: 1px solid var( --orange-light-color);
    background-color: var(--white-color);
    color: var( --text-color);
  }
  .btn_danger:focus {
    box-shadow: var(--box-shadow-danger-btn-focus) !important;
    border: 1px solid transparent;
  }


  .btn_black {
    border: 1px solid var(--btn-black-color);
    color: var(--white-color);
    background-color: var(--btn-black-color);
  }
  .btn_black:hover {
    border: 1px solid var(--btn-black-color);
    background-color: var(--white-color);
    color: var(--btn-black-color);
  }
  .btn_black:focus {
    box-shadow: var(--box-shadow-input-focus) !important;
    border: 1px solid transparent;
  }
  